aside
	article.note
		p 逆序时间线（<span lang="en">reverse-chronological feed</span>）垂直展开所形成的，是单极的信息架构。它设立了由上至下的次序规则，明确了阅读方向。
		p 左起横排、向下递进既是当下中文数字媒介的主流书写模式，也是多数通用阅读工具的默认布局及交互。
		p 此种模式下，水平的左端对应着垂直的顶端——它们也同时标示着起点的位置。由此，水平展开、行文竖排的中文逆序时间线得以在浏览路线上构造出一项冲突——在从左至右铺开的时间线上，每一个节点内部的文本却须从右至左阅读。
		p 从右至左的竖排传统，得以暗示出时间线的另一种方向、另一个端点。由此，单向度的结构开始松动。逆序时间线这一趋于标准化的信息架构，从内部萌生了反顺序（<span lang="en">anti-chronological</span>）。
