aside
	article.note
		p 逆序时间线（<span lang="en">reverse-chronological feed</span>）的垂直展开是一种单极的信息架构。它设立了由上至下的次序规则，标准化了阅读方向。
		p 左起横排、向下递进既是多数数码媒介的中文书写模式，也是多数通用浏览设备的默认布局及交互。
		p 此种模式下，水平的左端对应着垂直的顶端——同时标示着起点的位置。由此，水平展开、行文竖排的中文逆序时间线得以为阅读的方向构造出一项冲突——在从左至右铺开的时间线上，每一个节点内部的文本则须从右至左阅读。
		p 竖排中文从右至左递进书写的传统，暗示了时间线的另一种方向、另一个端点，单极化的结构开始松动。逆序时间线这一趋于严谨乃至标准化的信息架构内部萌生了反顺序（<span lang="en">anti-chronological</span>）。
