footer.footer
	a.footer-item(href="https://laerhsif.com")
		p.footer-item-detail © 2021 鱼缸
	a.footer-item(href="https://hanzi.pro")
		p.footer-item-detail Microtypography based on 漢字標準格式
	a.footer-item(href="https://qingmang.me")
		p.footer-item-detail Feed from 轻芒